html {
    background-color: rgba(245, 245, 245, 0.959);
}
body{
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 40px;
    color:black;
    border-top: 15px groove lightblue;
}

h1{
font-style: oblique;
font-variant: small-caps;
font-size: xx-large;
}

nav{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    font-style: normal;
    font-size: larger;
    border-bottom: thin groove lightblue;
}

h2{
    margin-bottom: -50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-variant: small-caps;
font-style: normal;
font-size: xx-large;
}

h3{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-variant: small-caps;
font-style: normal; 
font-size: large;   
}

h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    font-style: normal;
    font-size: xx-large; 
    margin-bottom: -10px;
    margin-top: 20px;
}

p{
    line-height: 1.5em;
    line-break: loose;
}

article{
    margin: 15px;
    padding: 40px;
}

#blog{
    border-top: thick groove lightblue;
}

.namefix{
    margin-top: -10px;
}

.above{
    border-top: thick groove lightblue;
}

.blog-post{
    border-bottom: thick groove lightblue;
}

[title~=image1] {
    border: 5px groove lightblue;
  }