body{
    background-color:whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 40px;
    color:black;
    border-top: 20px solid crimson;
}

h1{

}

p{

}

#blog{

}

.blog-post{

}