html {
    background-color: whitesmoke;
}
body{
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 40px;
    color:black;
    border-top: 15px groove lightblue;
}

h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: unset;
}

p{

}

#blog{

}

.blog-post{

}